
<div class="container">
  <div class="row">
    <div class="col-sm">
      
        <div class="card">
          <div class="card-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="false">Login</a>
                </li>   
              <li class="nav-item">
                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true">Register</a>
              </li>             
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">        
              <div class="tab-pane active" id="login" role="tabpanel" aria-labelledby="login-tab">
                <!-- Login component -->
                <app-login></app-login>                
              </div>       

              <div class="tab-pane" id="register" role="tabpanel" aria-labelledby="register-tab">
                <!-- Register component -->
               <app-register></app-register>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgot_password" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h5 class="modal-title" id="forgotPasswordLabel">Enter your email address to retrive your password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div> -->
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <!-- Forgot password component -->
          <app-forgotpassword></app-forgotpassword>          
        </div>        
      </div>
    </div>
  </div>
