
 <form [formGroup]="registrationForm" (ngSubmit)="registerUser()" >
    <div class="row">                  
      <div class="col-6">
        <div class="form-group">
          <label for="first_name">First Name:</label>
          <input type="text" class="form-control" formControlName="firstName"  id="first_name" aria-describedby="First Name">
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
            <div *ngIf="firstName.errors.required">
              First Name is required
            </div>                          
          </div>
        </div>                      
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="last_name">Last Name:</label>
          <input type="text" class="form-control" formControlName="lastName" id="last_name" aria-describedby="Last Name">
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
            <div *ngIf="lastName.errors.required">
              Last Name is required
            </div>                          
          </div>
        </div>
      </div>
    </div>
                         
    <div class="form-group">
      <label for="email_register">Email Address:</label>
      <input type="email" class="form-control" formControlName="emailAddress" id="email_register" aria-describedby="emailHelp">
      <div *ngIf="emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)" class="alert alert-danger">
        <div *ngIf="emailAddress.errors">
          Please enter proper email address
        </div>                          
      </div>
    </div> 
    
    <div class="form-group">
      <label for="password_register">Password:</label>
      <input type="password" formControlName="password" class="form-control" id="password_register">
      <div *ngIf="password.invalid" class="alert alert-danger">
        <div *ngIf="password.errors.minlength">
          Password should be of minimum 8 charcters
        </div>                          
      </div>
    </div> 

    <div class="form-group">
      <label>Gender:</label>
      <br/>
      <div class="form-check form-check-inline">
        <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="male" value="male">
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" formControlName="gender" type="radio" name="gender" id="female" value="female">
        <label class="form-check-label" for="female">Female</label>
      </div>
    </div>

    <div class="form-group">
      <label for="dob">Date of Birth:</label>
      <input type="date" formControlName="dob" class="form-control" id="dob">
    </div>

    <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-primary">Sign Up</button>
  </form>

  <p>
      Form Status: {{ registrationForm.status }}
  </p>